[Desktop Entry]
Name=Cloud Scraper
Comment=Download your personal data from cloud providers
Exec=/usr/bin/cloud-scraper
Icon=preferences-desktop-online-accounts
Terminal=false
Type=Application
Categories=Utility;Network;
